<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Contraseña</title>
    <script>
      var status = `<%- JSON.stringify(status) %>`;
      if (JSON.parse(status) == "verified") {
        if (confirm("Do you want to Login?")) {
          window.location.href = "http://localhost:3000/login";
        }
      }

      function validarContraseña() {
        var contraseña = document.getElementById("contraseña").value;
        var confirmContraseña =
          document.getElementById("confirm-contraseña").value;
        var error = document.getElementById("error");

        if (contraseña.length < 8) {
          error.textContent = "La contraseña debe tener al menos 8 caracteres.";
          return false;
        }

        if (contraseña !== confirmContraseña) {
          error.textContent = "Las contraseñas no coinciden.";
          return false;
        }

        error.textContent = "";
        return true;
      }
    </script>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f0f0f0;
      }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        max-width: 400px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        background-color: white;
        padding: 20px;
        box-sizing: border-box;
      }

      h1 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
      }

      input[type="password"],
      input[type="submit"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid #ddd;
        box-sizing: border-box;
      }

      input[type="submit"] {
        background-color: #4caf50;
        color: white;
        border: none;
        cursor: pointer;
      }

      input[type="submit"]:hover {
        background-color: #45a049;
      }

      #error {
        color: red;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div style="text-align: center; width: 100%">
        <h1><%= correo %></h1>
        <form action="" method="post" onsubmit="return validarContraseña()">
          <input
            type="password"
            name="contraseña"
            id="contraseña"
            placeholder="Contraseña"
          />
          <input
            type="password"
            name="confirm-contraseña"
            id="confirm-contraseña"
            placeholder="Confirmar Contraseña"
          />
          <input type="submit" value="Submit" />
          <div id="error"></div>
        </form>
      </div>
    </div>
  </body>
</html>
